# Python
__pycache__/
*.pyc

# Data files
data/
# Notebooks checkpoints
.ipynb_checkpoints/

# Results files
results_N50_tr30_v10_te10
results_N200_tr160_v0_te40/


# Environment files
.env
venv/
.venv/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db


